.login-dialog{
    background-color:#f6f6f6;
    border:solid;
    border-width:1px;
    border-radius:5px;
    border-color:rgb(28, 104, 137);    
    color:white;
    padding-top:10px;
}


.login-control-padding {
    padding-top: 30px;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.item-list ul {
    list-style: none;
}

.ajax-progress {
    display: inline-block;
    background: transparent url(../images/throbber-active.gif) no-repeat 0px center;
    float: left; /* LTR */
    height: 15px;
    margin: 2px;
    width: 15px;
}

.server-address {
    display:none;
}

#new-record-container {
    margin-bottom:0.5em;
}

.pdns-status-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:none;
}

.pdns-status-message span {
    text-align:center;
}

.pdns-loading {
    background: url('/css/loading.gif') center center no-repeat;
    height: 32px;
    width: auto;
    min-width: 65px;
}


.popup-open {
    overflow: hidden;
}
.popup-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.popup-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.popup-body {
    clear:both;
}
.popup-footer:before{
    display:'table';
    content: '';
}
.popup-footer {

    border-top:1px solid #e9ecef;
    padding: 1em;
}
.popup-footer .btn-container {
    padding-left:35%;
}
.btn-container > button {
    margin-left:0.2em;
 }


.popup-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.popup-header > h4,h3 {
    text-align: center;
}
.popup-input label, .popup-input input, .popup-input textarea { 
    margin: .8em auto;
    display: block; 
    width: 280px; 
    padding: .4em;
}

.popup-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.userinfo {
    float:left;
}
.logout-btn {
    float:right;
}

.user-container {
    border-bottom: 2px darkgray solid;
}

.user-container > .logout-btn {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .popup-content {
        width: 600px;
        margin: 30px auto;
    }
    .popup-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
